<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły książki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>
        .btn-my-account, .btn-basket {
            background-color: white;
            color: gray;
            border-color: gray;
        }
        .card.book-details {
            width: 100%;
        }

        .comments-section {
            margin-bottom: 30px;
        }

        .card.book-details .book-image {
           max-height: 400px; /* Adjust this value as needed */
           object-fit: cover; /* This will ensure the image covers the area without stretching */
           margin-left: 6rem;
        }

        .card.book-details h3,
        }

        .borrow-button {
            width: 30%;
        }


    </style>
</head>
<body style="background-color: #F7F7F7">

<div style="background-color: #FFFFFF; color: black; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
    <h2>
        <a href="/library" style="text-decoration: none; color: black;">
            Biblioteka
        </a>
    </h2>

    <div style="display: flex; gap: 20px;">

        <a href="libraryBooks" class="btn btn-basket">
            Wyszukaj książki
        </a>

        <a href="/basket" class="btn btn-basket">
            Koszyk
        </a>

        <div class="dropdown">
            <button class="btn btn-my-account dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <span th:if="${session.currentUser != null}"
                      th:text="${session.currentUser.loginUser}">Moje konto</span>
                <span th:if="${session.currentUser == null}">Moje konto</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li th:if="${session.currentUser == null}"><a class="dropdown-item" href="/login">Zaloguj się</a></li>
                <li th:if="${session.currentUser != null}"><a class="dropdown-item" href="/userAccount">Mój profil</a>
                </li>
                <li th:if="${session.currentUser != null}">
                    <form method="post">
                        <button type="submit" class="dropdown-item" name="logout" value="true">Wyloguj się</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="col-12 mb-2">
        <div class="card book-details">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <img th:src="@{/libraryAdministrator/images/{filename}(filename=${book.photoFilename})}"
                             class="img-fluid book-image" th:alt="${book.bookTitle}"/>
                    </div>
                    <div class="col-sm-7">
                        <h4 th:text="${book.bookTitle}">Tytuł Książki</h4>
                        <br/>
                        <h5>Szczegóły:</h5>
                        <p th:text="${book.firstNameAuthor + ' ' + book.lastNameAuthor}">Autor</p>
                        <p th:text="'Kategoria: ' + ${book.genre}">Kategoria</p>
                        <!-- <p th:text="'Opis: ' + ${book.description}">Opis książki...</p> -->

                        <div th:if="${!isOnLoan}">
                            <form method="post">
                                <input type="hidden" name="bookIdToOrder" th:value="${book.idBook}"/>
                                <button type="submit" class="btn btn-primary borrow-button" name="orderBooks" value="true">Wypożycz</button>
                            </form>
                        </div>
                        <div th:if="${isOnLoan}">
                            <button class="btn btn-secondary borrow-button" disabled>Niedostępna do wypożyczenia</button>
                        </div>


<!--                        <form method="post">-->
<!--                            <div class="borrow-button-wrapper">-->
<!--                                <input type="hidden" name="bookIdToOrder" th:value="${book.idBook}"/>-->
<!--                                <button type="submit" class="btn btn-primary borrow-button" name="orderBooks"-->
<!--                                        value="true">Wypożycz-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </form>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Dodaj Komentarz
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                <textarea class="form-control" name="commentText" rows="3"
                          placeholder="Wpisz swój komentarz tutaj..."></textarea>
                </div>
                <input type="hidden" name="bookId" th:value="${book.idBook}"/>
                <button type="submit" class="btn btn-primary" name="addComment" value="true">Dodaj Komentarz</button>
            </form>
        </div>
    </div>


    <div class="comments-section">
        <h3>Komentarze</h3>
        <div th:each="comment : ${comments}">
            <div class="card mt-2">
                <div class="card-body">
                    <p th:text="${comment.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>